.item {
  padding: 1rem;
  min-height: 330px;
  text-align: center;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 1rem;
}
.item .img-box {
  height: 160px;
  width: 100%;
  position: relative;
}
.item img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.item h4 {
  font-size: 18px;
  margin: 10px 0;
}
.item .btn {
  color: #333;
  border-radius: 0;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 2px solid #ccc;

  padding: 10px 8px;
  margin-top: 5px;
  line-height: 16px;
}
.item .btn:hover,
.item .btn:focus {
  color: #fff;
  background: #000;
  border-color: #000;
  box-shadow: none;
}
.item .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}
.thumb-wrapper {
  text-align: center;
}
.thumb-content {
  padding: 15px;
}
.item-price {
  font-size: 13px;
  padding: 2px 0;
}
.item-price del {
  color: #999;
  margin-right: 5px;
}
.item-price span {
  color: #86bd57;
  font-size: 110%;
}
.star-rating li {
  padding: 0;
}
.star-rating .fa-star,
.star-rating .fa-star-half {
  font-size: 14px;
  color: #ffc000;
}
@media (max-width: 800px) {
  .item {
    margin: 0.8rem;
  }
}
