/* Home page */
.background {
  background-image: url("../images/cyberpunk_2080-wallpaper-1600x900.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.bg-text h1 {
  font-family: var(--f1);
  font-size: 450%;
  font-weight: 800;
  text-shadow: 2px 2px 4px #000000;
}
.bg-text h1 > span {
  color: var(--c4);
}
.bg-text p {
  font-family: var(--f2);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper h1 {
  margin-top: 2rem;
  font-weight: bold;
  color: #1e56a0;
  font-size: 3.4rem;
  margin: 0;
  padding: 0.25rem 0;
}
.right p {
  color: #001d3d;
  font-weight: 400;
}
.main-btns .btn-1 {
  background-color: #003566;
  border-color: #003566;
  color: #f6f6f6;
}
.main-btns .btn-1:focus,
.main-btns .btn-1:hover,
.main-btns .btn-1:active {
  background-color: #001d3d;
  color: #f6f6f6;
}
.main-btns .btn-2 {
  background-color: white;
  border-color: #001d3d;
}
.main-btns .btn-2:focus,
.main-btns .btn-2:hover,
.main-btns .btn-2:active {
  background-color: #003566;
  border-color: #003566;
  color: #f6f6f6;
}
@media (max-width: 800px) {
  .bg-text h1 {
    font-size: 2rem;
  }
  .bg-text p {
    font-size: 1rem;
  }
}
